# Top-most EditorConfig file
root = true

# Default settings for all files
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# JavaScript and JSX files
[{*.js,*.jsx}]
ij_javascript_use_double_quotes = true
max_line_length = 80
indent_size = 2
indent_style = space
insert_final_newline = true

# HTML files
[*.html]
indent_style = space
indent_size = 2
