.react-flow__node-courseNode.selected .node-wrapper {
  border: 2px solid #027ffe !important;
}

.react-flow__node-courseNode .node-wrapper {
  border: 2px solid gray !important;
  box-shadow: 1px 2px 1px -2px rgba(0, 0, 0, 0.06),
    0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
}

div.flowNodeHandle {
  width: 100%;
  height: 100%;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  transform: none;
  border: none;
  opacity: 0;
}
