.flow-canvas {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 60px !important;
}

