.navbar {
  background: white;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 60px !important;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-bottom: solid 2px rgb(239, 239, 239);
}

.navbar .container {
  margin: 0;
  display: flex !important;
  flex-direction: row;
  width: 40vw;
  height: 100%;
  box-sizing: border-box;
}

.navbarItem {
  padding: 10px;
  width: 25%;
  height: 100%;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: grey;
  text-align: center;
  margin: 0;
}

.navbarItem.selected {
  margin-bottom: -4px;
  border-bottom: solid 2px grey;
}

.navbarLink {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.navbarLink:hover {
  text-decoration: underline;
}
