.onboarding-main {
  max-width: 700px !important;
  height: 100vh;
}

.swiper {
  height: 100%;
}

.slideBody {
  padding: 10px;
  height: 100%;
  overflow-y: auto;
  padding-right: 15px;
  padding-bottom: 20vw;
}

.onboarding-form-control {
  margin-bottom: 10px;
}

.onboarding-field-desc {
  margin-bottom: 2px;
}

.add-degree {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

li.dropdown-item.highlighted {
  background-color: #007bff;
  color: white;
}
