.sidebar {
  width: 18%;
  max-width: 18%;
  min-width: 200px;
  height: 100%;
  position: fixed !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: whitesmoke;
  box-sizing: border-box;
}

.sidebar-banner {
  display: flex;
  border-radius: 0;
  padding-top: 5px;
  align-items: center;
  width: 100%;
  min-height: 45px;
  height: auto;
  box-sizing: border-box;
}

.sidebar-animate-left {
  position: relative;
  animation: animateleft 0.3s;
}

.sidebar-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.scrollbar-thin::-webkit-scrollbar {
  width: 0.2em;
}

.scrollbar-track-lightgray::-webkit-scrollbar-track {
  background-color: lightgray;
}

.scrollbar-hidden::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar-thumb-gray::-webkit-scrollbar-thumb {
  background-color: darkgray;
}

.scrollbar-thumb-hover-darkgray::-webkit-scrollbar-thumb:hover {
  background-color: darkgray;
}

.scrollbar-thumb::-webkit-scrollbar-thumb {
  background-color: darkgray;
}

.scrollbar-thumb-gray::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

#builderSidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px; /* Adjust the width as needed */
  background-color: #fff; /* Adjust the background color as needed */
  z-index: 1000;
  overflow-y: auto;
  transition: transform 0.3s;
}

#builderView {
  padding-left: 250px; /* Adjust the padding-left to match the width of the sidebar */
  transition: padding-left 0.3s;
}
