<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        height: 100%;
        margin: 0;
        width: 100%;
        overflow: hidden;
      }
      #voyager {
        height: 100vh;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/graphql-voyager/dist/voyager.css" />
    <script src="https://cdn.jsdelivr.net/npm/graphql-voyager@1.3/dist/voyager.standalone.js"></script>
  </head>
  <body>
    <div id="voyager">Loading...</div>
    <script type="module">
      const { init, voyagerIntrospectionQuery: query } = GraphQLVoyager;
      const response = await fetch("/graphql", {
        method: "post",
        headers: {
          "Accept": "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ query }),
        credentials: "omit",
      });
      const introspection = await response.json();
      GraphQLVoyager.init(document.getElementById("voyager"), {
        introspection,
      });
    </script>
  </body>
</html>
