@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background: #f0f1f5;
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 820px;
  }
}

.login-image {
  background-image: url("https://admissions.sonoma.edu/sites/admissions/files/field/image/_mg_9460.jpg");
  background-size: cover;
  background-position: center;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

/*------------ Login container ------------*/
.box-area {
  margin-top: 70px;
  width: 820px;
  height: 480px;
}

/*------------ Right box ------------*/
.left-box {
  padding: 40px 30px 40px 40px;
}
/*------------ Custom Placeholder ------------*/
::placeholder {
  font-size: 16px;
}
/*------------ For small screens------------*/
@media only screen and (max-width: 768px) {
  .box-area {
    margin: 40px 10px;
    width: auto; /* Adjust the width for small screens */
    height: auto; /* Adjust the height for small screens */
  }

  .left-box {
    padding: 20px; /* Adjust padding for better spacing on small screens */
  }

  .header-text {
    text-align: center; /* Center header text on small screens */
  }

  .input-group {
    margin-bottom: 15px; /* Add some margin between buttons on small screens */
  }

  /* Make the buttons full width on small screens */
  .btn {
    width: 100%;
  }

  /* Center the pawprint image on small screens */
  .pawprint {
    display: block;
    margin: 0 auto;
  }
}

.pawprint {
  margin-top: 30px;
  width: 60px;
  opacity: 0.2;
}
